.formBox {
  width: 300px;
  max-width: 800px;
  min-width: 150px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (width >= 860px) {
    width: 100%;
  }

  @media screen and (width >= 1230px) {
    margin-top: 0;
  }
}

.CartListForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-bold);

  &:first-child {
    margin-top: 20px;
  }

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.input {
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border-color: var(--accent-color);
}

.text {
  margin-top: 10px;
  font: var(--font-s);
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;

  @media screen and (width >= 860px) {
    flex-direction: row;
  }
}

.price {
  width: 200px;
  font-weight: var(--font-weight-bold);

  @media screen and (width <= 860px) {
    text-align: center;
  }
}

.btn {
  width: 200px;

  @media screen and (width <= 860px) {
    margin-top: 10px;
  }
}

.loader {
  width: 100%;
  height: 100%;
}

.discountBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deliveryData {
  position: absolute;
  top: -15px;
  right: 0;
  font: var(--font-s);

  @media screen and (width >= 860px) {
    top: 0;
    font: var(--font-m);
  }
}
