.ProductsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 900px;
  padding: 10px;
  overflow: scroll;
  gap: 15px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}
