.Button {
  padding: 8px 17px;
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outlined {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: none;
  transition-property: background, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    background: var(--accent-color);
    border-color: transparent;
  }
}

.background {
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  transform: scale(1);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    transform: var(--scale);
  }
}
