.HistoryItem {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.dataBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.listTitle {
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 5px;
  gap: 10px;
}

.infoBox {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.img {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
