.Navbar {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  backdrop-filter: blur(10px);
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item {
  margin-right: 50px;
}
