.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  box-shadow: 0 0 4px rgb(0 0 0 / 80%);
  background: var(--navbar-bg-color);
  backdrop-filter: blur(5px);
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item {
  margin-right: 50px;
}
