.Navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  z-index: 1000;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item {
  margin-right: 50px;
}
