.Sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  transition: width 0.3s;
}

.box {
  width: 100%;
  max-width: 200px;
  min-width: 150px;
}

.title {
  font: var(--font-l);
  font-weight: var(--font-weight-bolder);
  text-align: left;
}
