.CartListItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;

  @media screen and (width >= 465px) {
    width: 70px;
    height: 70px;
  }

  @media screen and (width >= 1160.98px) {
    width: 150px;
    height: 150px;
  }
}

.title {
  width: 100%;
  max-width: 100px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: var(--font-weight-bold);
}

.price {
  width: 100px;
  margin-left: 5px;
  font-weight: var(--font-weight-bold);
}

.buttonBox {
  margin-top: 15px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.inputBox {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

.input {
  width: 50px;
  border: none;
  text-align: center;
  outline: none;
}

.inputAddButton {
  padding: 10px;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--green-light-color);
  }
}

.inputRemoveButton {
  padding: 10px;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--red-light-color);
  }
}
